@import "../settings.scss";

@function _calc-width($colsn, $target, $col-width:0, $gutter-width:0) {
  /*@if $target == "%" {
    @return ((100 / $cols) * $colsn) - (_calc-margin($colsn, $target) * 2)  + 0%;
  }*/
  @if $target == "%" {
    //$context = ($cols * $col-width) + ($cols * $gutter-width);
    //$target  = $colsn * $col-width;
    //$size1   = ($target / $context) * 100;
    @return ((($colsn * $col-width) / (($cols * $col-width))) - ($gutter-width * ($colsn - 1)) / ($cols * $col-width)) * 100 + 0%;
  }
}

@function _calc-margin($colsn, $target, $col-width:0, $gutter-width:0) {
  /*@if $target == "%" {
    @return ((100 / $cols) / 4) / 2 + 0%;
  }*/
  @if $target == "%" {
    @return ((($gutter-width * ($colsn - 1)) / ($cols * $col-width)) / 2) * 100 + 0%;
  }
}

@mixin fc($c) {
  display: inline;
  float: left;
  width: _calc-width($c, "%", $col-width, $gutter-width);
  margin: 0 _calc-margin($c, "%", $col-width, $gutter-width);
}
